@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary antialiased;
  }
}

/* Custom scrollbar to match premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-surface rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary/50;
}
